<launch>
  <!-- Launch AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true" />
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="scan_topic" value="scan" />
    <param name="map_file" value="$(arg map_file)" />
  </node>
</launch>
